<div class="container-fluid h-100 cover">
  <div class="query-condition py-4">
    <div class="d-flex flex-nowrap align-items-center border rounded">
      <mat-datepicker-toggle matPrefix [for]="picker">
        <mat-icon svgIcon="calender_hennge" matDatepickerToggleIcon></mat-icon>
      </mat-datepicker-toggle>
      <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
        <input matStartDate placeholder="Start date" [formControl]="dateStart">
        <input matEndDate placeholder="End date" [formControl]="dateEnd">
      </mat-date-range-input>
      <mat-date-range-picker [touchUi]="isMobile" #picker></mat-date-range-picker>
      <button class="btn p-2 btn-search" aria-label="click to search emails" (click)="doSearch()">
        <mat-icon svgIcon="search_hennge"></mat-icon>
      </button>
    </div>
  </div>
  <main class="email-content">
    <app-email-list></app-email-list>
  </main>
</div>
